main{
    max-width: 1000px;
    padding: 1rem;
}

.fade{
    display: none;
}

.color{
    color: white;
    border-radius: 10px;
}

.color:hover{
    color: white;
    background-color:rgba(255, 255, 255, 0.2);
}

.dropdown-toggle::after {
    display: none;
}
